.list{
    background-color: black;
    color: cornsilk;
    margin: 40px 60px;
    padding: 70px 60px;
    border-radius: 12px;
}
.list2{
    background-color: black;
    color: cornsilk;
    margin: 40px 60px ;
    padding: 70px 60px;
    border-radius: 12px;
}
.list3{
    background-color: black;
    color: cornsilk;
    margin: 40px 60px;
    padding: 70px 60px;
    border-radius: 12px;
}
.list4{
    background-color: black;
    color: cornsilk;
    margin: 40px 60px;
    padding: 70px 60px;
    border-radius: 12px;
}
#low{
    display: flex;
    padding: 12px 65px;
    margin: 2px 10px;
    background-color: coral;
}